.userImageUpdate{
    border: 1px solid #b66dff;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: auto;
}

.cardImageUpdate{
    height: 340px;
}

.cardImageUpdateSub{
    position: relative;
    bottom: -60px;
}

.cardImageUpdate button{
    width: 100%;
}

.progressStyle {
    top: 25px;
    position: relative;
}